version: '3.8'

services:
  # Tu API (Backend)
  api:
    build: .
    # Ya no exponemos puertos "80:3000" aquí porque Caddy lo manejará
    # ports: 
    #   - "3000:3000" <--- BORRA O COMENTA ESTO
    expose:
      - "3000" # Solo visible para Caddy, no para internet directo
    environment:
      - DB_HOST=172.31.16.124  # IP Privada de Instancia A
      - DB_USER=ale
      - DB_PASSWORD=Lagartija20
      - DB_NAME=stylepin
      - PORT=3000
    restart: always

  # El Servidor Web (HTTPS)
  caddy:
    image: caddy:latest
    restart: always
    ports:
      - "80:80"   # Puerto HTTP (necesario para validar certificado)
      - "443:443" # Puerto HTTPS (seguro)
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile  # Tu configuración
      - caddy_data:/data                  # Para guardar los certificados y no pedirlos a cada rato
      - caddy_config:/config
    depends_on:
      - api

volumes:
  caddy_data:
  caddy_config: