# Core Framework
fastapi
uvicorn[standard]
pydantic
pydantic-settings

# Database
sqlalchemy
pymysql
cryptography

# Authentication & Security
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-multipart

# Environment Variables
python-dotenv

# Utilities
email-validator

# Image Upload
cloudinary

# WebSocket
websockets